<!DOCTYPE web-app PUBLIC
 	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 	"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<filter-class>com.cyc.filter.CheckLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/student.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/admin.jsp</url-pattern>
	</filter-mapping>
	
<!-- 	<listener>
	    <listener-class>com.cyc.listener.NFDFlightDataTaskListener</listener-class>
	</listener>
	 -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<display-name>QueryServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppiontServlet</servlet-name>
		<display-name>AppiontServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.AppiontServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyServlet</servlet-name>
		<display-name>ApplyServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.ApplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<display-name>StudentServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.StudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentAppointServlet</servlet-name>
		<display-name>StudentAppointServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.StudentAppointServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentAppointServlert2</servlet-name>
		<display-name>StudentAppointServlert2</display-name>
		<description></description>
		<servlet-class>com.cyc.web.StudentAppointServlert2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelServlet</servlet-name>
		<display-name>CancelServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.CancelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<display-name>CheckServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.CheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>AdminServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckingTocheckedServlet</servlet-name>
		<display-name>CheckingTocheckedServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.CheckingTocheckedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckedTocheckingServlet</servlet-name>
		<display-name>CheckedTocheckingServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.CheckedTocheckingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryLaboratoryServlet</servlet-name>
		<display-name>QueryLaboratoryServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.QueryLaboratoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LaboratoryServlet</servlet-name>
		<display-name>LaboratoryServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.LaboratoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectServlet</servlet-name>
		<display-name>SelectServlet</display-name>
		<description></description>
		<servlet-class>com.cyc.web.SelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppiontServlet</servlet-name>
		<url-pattern>/AppiontServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyServlet</servlet-name>
		<url-pattern>/ApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentAppointServlet</servlet-name>
		<url-pattern>/StudentAppointServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentAppointServlert2</servlet-name>
		<url-pattern>/StudentAppointServlert2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelServlet</servlet-name>
		<url-pattern>/CancelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/CheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckingTocheckedServlet</servlet-name>
		<url-pattern>/CheckingTocheckedServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckedTocheckingServlet</servlet-name>
		<url-pattern>/CheckedTocheckingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryLaboratoryServlet</servlet-name>
		<url-pattern>/QueryLaboratoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LaboratoryServlet</servlet-name>
		<url-pattern>/LaboratoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectServlet</servlet-name>
		<url-pattern>/SelectServlet</url-pattern>
	</servlet-mapping>
</web-app>
